<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Polyglot — Языковая онлайн-школа</title>
  <link rel="stylesheet" href="styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  
  <header class="header">
    <div class="header-inner">
      <div class="logo">
        <img src="../img/logo.png" alt="Logo">
      </div>

      <nav class="main-nav" id="main-nav">
        <ul>
          <li class="active"><a href="mainpage.html">Главная</a></li>
          <li><a href="about.html">О платформе</a></li>
          <li><a href="all-courses.html">Курсы</a></li>
          <li><a href="support.html">Поддержка</a></li>
          <li><a href="profile.html">Личный кабинет</a></li>
        </ul>
      </nav>
      
      <div class="header-actions">
        <div class="icon-user">
          <a href="registration.html">  
            <img src="../img/person.svg" alt="iconperson">
          </a>
        </div>
        <div class="lang-switcher">
          <span class="lang-option" id="current-lang">RU</span>  
          <img src="../img/arrow-down.svg" alt="Стрелка" class="arrow-icon" id="toggle-options">
          <div class="lang-options" id="lang-options">  
            <span class="lang-option" data-lang="ru">RU</span>  
            <span class="lang-option" data-lang="en">EN</span>  
          </div> 
        </div>
        <script src="header.js"></script> 
      </div>
      <div class="burger" id="burger">
        <img src="../img/burger.svg" alt="Меню">
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const burger = document.getElementById('burger');
          const nav = document.getElementById('main-nav');
      
          burger.addEventListener('click', () => {
            nav.classList.toggle('open');
          });
        });
      </script>
    </div>
  </header>

  <div class="banner">
    <div class="banner-left">
      <div class="title-banner">Язык – ключ к новым возможностям. <br> Начните учиться сегодня!</div>
      <button type="button" name="button-banner" class="button-banner">
        <div class="btn-text">Записаться</div>
        <img src="../img/icon-button.svg" alt="icon-button" width="16" height="27">
      </button>
      </div>
    <div class="banner-right">
      <img src="../img/banner-right.svg" alt="icon-button">
    </div>
  </div>

  <div class="webinars-section">
    <h1 class="title">Вебинары</h1>
    <div class="webinars-wrapper">
      <div class="webinars-list">
        <h2>Следующие вебинары</h2>
        <div class="webinar">
          <h3>Как преодолеть языковой барьер?</h3>
          <p>01.01.2025 19:00 (МСК)<br>
          Узнайте советы по улучшению разговорных навыков от нашего главного преподавателя.</p>
        </div>

        <div class="webinar">
          <h3>Культура и язык: как они взаимосвязаны</h3>
          <p>01.02.2025 19:00 (МСК)<br>
          Уникальная возможность понять, как язык отражает культуру, в которой он используется.</p>
        </div>

        <div class="webinar">
          <h3>Тайм-менеджмент для языковых студентов</h3>
          <p>01.03.2025 19:00 (МСК)<br>
          Как эффективно планировать время для изучения языка.</p>
        </div>
      </div>

      <div class="registration-form">
        <h2>Записаться на вебинар</h2>
        <form>
          <label>
            ФИО
            <input type="text" placeholder="Иванов Иван Иванович">
          </label>
          <label>
            Email
            <input type="email" placeholder="email@gmail.com">
          </label>
          <label>
            Номер телефона
            <input type="tel" placeholder="536608300">
          </label>
          <button type="submit">Записаться</button>
        </form>
      </div>
    </div>
</div>

<div class="blog">
    <div class="blog-title">Блог</div>
    <div class="blog-text">
        <p>
            В нашем блоге вы найдете увлекательные статьи, советы по изучению языков, культурные факты и множество других материалов. Вот некоторые последние посты:<br>
1. Погружение в язык: как путешествия помогают в изучении<br>
2. Описание того, как путешествия могут улучшить знание языка и углубить понимание культуры.<br>
3. Как выбрать язык для изучения?<br>
4. Советы по выбору языка на основе личных интересов, карьерных целей и культурных предпочтений.<br>
5. Изучение языка через кино и сериалы<br>
6. Рекомендации по фильмам и сериалам, которые помогут улучшить языковые навыки и понимание разговорного языка.<br>
7. Лучшие подкасты для изучающих Английский<br>
8. Подборка полезных подкастов на изучаемом языке, которые помогут с восприятием на слух и расширением словарного запаса.<br>
9. Ошибки, которые совершают начинающие изучающие язык (и как их избежать)<br>
10. Часто встречающиеся ошибки и советы о том, как их предотвратить.
        </p>
    </div>
    <div class="blog-button">
        <button type="submit">Подписаться</button>
    </div>
    
</div>

  <div class="footer">
    <div class="column1">
      <div class="footer-title1">Языковая школа “POLYGLOT”</div>
      <div class="footer-text1">
        Мы — команда профессиональных преподавателей, которая поможет вам овладеть иностранным языком в комфортной и дружелюбной атмосфере. Наша школа предлагает индивидуальные и групповые занятия для студентов всех уровней.
      </div>
      <div class="social">
        <div class="email-num">polyglot@gmail.com</div>
        <div class="email-num">+7 (800) 555 35 35</div>
      </div>
      <div class="social-img">
        <img src="../img/sn1.svg" alt="telegram">
        <img src="../img/sn2.svg" alt="vk">
        <img src="../img/sn3.svg" alt="pint">
        <img src="../img/sn4.svg" alt="skype">
      </div>
    </div>
    <div class="column2">
      <div class="footer-title1">Курсы</div>
      <div class="footer-list">  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Для детей</div>  
        </div>  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Для подростков</div>  
        </div>  
        <div class="footer-item active">  
            <img src="../img/footer-icon-orange.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Смешанные группы</div>  
        </div>  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Для взрослых</div>  
        </div>  
    </div>  
    </div>
    <div class="column2">
      <div class="footer-title1">Важная информация</div>
      <div class="footer-list">  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Часто задаваемые вопросы</div>  
        </div>  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Поддержка</div>  
        </div>  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Вебинары</div>  
        </div>  
        <div class="footer-item">  
            <img src="../img/footer-icon-white.svg" alt="Arrow" class="arrow"/>
            <div class="footer-name">Вакансии</div>  
        </div>  
    </div>  
    </div>
    
  </div>

 
      

</body>
</html>